<div ng-controller='campaignsController' ng-init="campaign = {cover: {}}">
  <form ng-submit='addCampaign()'>
    <p>
    <label for="title">title</label>
    <input type="text" id='title' name="campaign[title]" ng-model='campaign.title' required>
    </p>
    <p>
    <label for="description">description</label>
    <textarea name="campaign[description]" id='description' ng-model='campaign.description' rows="4" cols="80" required></textarea>
    </p>
    <p>
    <label for="goal">goal</label>
    <input type="number" name="campaign[goal]" id='goal' ng-model='campaign.goal' required>
    </p>
    <p>
    <label for="video">video link</label>
    <input type="url" name="campaign[url]" ng-model='campaign.video'>
    </p>
    <p>
      <label>Upload a Cover Page</label>
      <img ngf-thumbnail="cover"/>
      <div class="button" ngf-select ng-model="cover_photo" name="cover" ngf-pattern="'image/*'"
      ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</div>
    </p>
    <button>create campaign</button>
  </form>
</div>
