<form ng-submit="UpdateUserData()" ng-init="user = {}">
  <label for="user-name">Your Name</label>
  <input type="text" id="user-name" name="user[user-name]" ng-model="user.username" required>
  <br>
  <label for="email">Email</label>
  <input type="email" id="email" name="email" ng-model="user.email" required>
  <br>
  <label for="age">Age</label>
  <input type="number" name="age" id="age" ng-model="user.age" required>
  <br>
  <label for="bio">Bio</label>
  <textarea name="bio" id="bio" ng-model="user.bio" rows="8" cols="80"></textarea>
  <br>
  <label for="linked-in">LinkedIn Account</label>
  <input type="text" name="linked_in" id="linked-in" ng-model="user.linked_in">
  <br>
  <label for="facebook">Facebook Account</label>
  <input type="text" name="facebook" id="facebook" ng-model="user.facebook">
  <br>
  <label for="github">Github Account</label>
  <input type="text" name="github" id="github" ng-model="user.github">
  <br>
  <label for="profile_picture">profile picture :</label>
  <input id="profile_picture" type="file" ngf-select ng-model="user.profile_picture">
  <button>Submit</button>
</form>
