%h2.container.text-center Account details
%div.container.w-xxl.w-auto-xs.ng-scope.m-t-xl.b-a.wrapper.bg-bright.text-lt
  %img.img-circle.thumb-lg.pull-right.m-t.sm{:alt => "profile_picture", "ng-src" => "http://localhost:3000{{user.profile_picture_url}}"}
  %h2.text-lt {{user.username}}
  %hr.bg-dark
  %h4.m-t.lg.text-lt.m-b-lg Email: {{user.email}}
  %h4.text-lt.m-b-lg Age: {{user.age}}
  %h4.text-lt.m-b-lg Gender: {{returnGender(user.gender)}}
  %h4.text-lt.m-b-lg Bio: {{user.bio}}
  %h4.text-lt.m-b-lg
    LinkedIn:
    %a{:href => "{{user.linked_in}}"} {{user.linked_in}}
  %h4.text-lt.m-b-lg
    Github:
    %a{:href => "{{user.github}}"} {{user.github}}
  %h4.text-lt.m-b-lg
    Facebook:
    %a{:href => "{{user.facebook}}"} {{user.facebook}}
  %hr.bg-dark
  %a.btn.bg-primary.btn-block.text-lt{:href => "/users/edit/{{user.id}}"} Edit profile
  %button.btn-danger.btn-block.text-lt{"ng-click" => "removeUser()", :type => "button"} Delete profile
