%div.container.w-xxl.w-auto-xs.ng-scope.m-t-xl.b-a.wrapper
  %img.img-circle.thumb-lg.pull-right.m-t.sm{:alt => "profile_picture", "ng-src" => "http://localhost:3000{{user.profile_picture_url}}"}
  %h1 {{user.username}}
  %hr
  %h3.m-t.lg Email: {{user.email}}
  %h3 Age: {{user.age}}
  %h3 Gender: {{returnGender(user.gender)}}
  %h3 Bio: {{user.bio}}
  %h3 Facebook: {{user.facebook}}
  %h3 Github: {{user.github}}
  %h3.m-b-lg LinkedIn: {{user.linked_in}}
  %hr
  %a.btn.bg-info.pull-right.btn-block{:href => "/users/edit/{{user.id}}"} Edit profile
  %button.btn-danger.pull-right.btn-block{"ng-click" => "removeUser()", :type => "button"} Delete profile
