<div ng-controller="campaignShow">
  <h1>{{campaign.title}}</h1>
  <img ng-src="{{campaign.cover_photo_file_name}}" alt="cover-photo">
  <img ng-src="{{campaign.profile_photo_file_name}}" alt="profile-photo">
  <p>
    <iframe ng-src="{{video}}" allowfullscreen></iframe>
  </p>
  <button type="button" ng-click="removeCampaign()">Delete campaign</button>
  <button type="button" ng-click="showEditVideoUrl=!showEditVideoUrl" ng-hide="showEditVideoUrl" ng-init="showEditVideoUrl=false">Edit video url</button>
  <form ng-submit="editVideoUrl()">
    <input type="text" name="edit-video" ng-value="campaign.video" ng-model="campaign.video">
  </form>
  <!-- ng-show="owner()" -->

  <p>This campaign started at : {{campaign.created_at}} </p>
  <div id="progressbar-goal">
    <div id="progressbar-achieved" style="width:{{achievedPercentage}}"></div>
  </div>
  <p>{{achievedPercentage}}</p>
  <p>achieved: {{campaign.achieved}}</p>
  <p>goal: {{campaign.goal}}</p>

  <h2>About this project</h2>
  <p>
    <img ng-src="{{campaign.discription_photo_file_name}}" alt="discription-photo">
  </p>
  <p>
    {{campaign.description}}
  </p>
</div>
<section ng-controller="commentsCtrl">
  <form ng-submit="addComment()">
    <label for="content"></label>
    <input type="text" id="content" ng-model="comment.content">
    <button type="submit"> Add comment</button>
  </form>
  <ul>
    <li ng-repeat="comment in comments" class="comment">
      <p>{{comment.username}}</p>
      <p>{{comment.content}}</p>
      <p>
        <time-ago from-time='{{comment.created_at}}'></time-ago>
      </p>
      <br>
    </li>
  </ul>
</section>
