%div{"ng-controller" => "campaignsIndex"}
  %label{:for => "filter-done"} Accomplished campaigns
  %input#filter-done{"ng-init" => "finishedCampaigns=false", "ng-model" => "finishedCampaigns", :type => "checkbox"}/
  %div{"ng-repeat" => "campaign in campaigns |filter: finished"}
    / todo: adding image tags for this view
    %a{:href => "campaigns/{{campaign.id}}"}
      %h1 {{campaign.title}}
    %iframe{:allowfullscreen => "", :src => "{{campaign.video}}"}
    %p {{campaign.description}}
    %progress{:value => "{{campaign.achieved/campaign.goal}}"} 0%
