<div ng-controller='campaignNew' ng-init="campaign = {cover_photo: {}}">
  <form ng-submit='addCampaign()'>
    <p>
      <label for="title">title</label>
      <input type="text" id='title' name="campaign[title]" ng-model='campaign.title' required>
    </p>
    <p>
      <label for="description">description</label>
      <textarea name="campaign[description]" id='description' ng-model='campaign.description' rows="4" cols="80" required></textarea>
    </p>
    <p>
      <label for="goal">goal</label>
      <input type="number" name="campaign[goal]" id='goal' ng-model='campaign.goal' required>
    </p>
    <p>
      <label for="video">video link</label>
      <input type="url" name="campaign[url]" ng-model='campaign.video'>
    </p>
    <p>
      <label>Upload a Cover Photo</label>
        <input id="file-input" type="file" ngf-select ng-model="campaign.cover_photo">
    </p>
    <p>
      <label>Upload a profile Photo</label>
        <input id="file-input" type="file" ngf-select ng-model="campaign.profile_photo">
    </p>
    <p>
      <label>Upload a description Photo</label>
        <input id="file-input" type="file" ngf-select ng-model="campaign.description_photo">
    </p>
    <button>create campaign</button>
  </form>
</div>
