body {
  background-color: lightgrey;
}

#progressbar-goal {
  background-color: gray;
  border-radius: 13px;
  padding: 3px;
  width: 20%;

  #progressbar-achieved {
    background-color: green;
    height: 20px;
    border-radius: 10px;
  }
}
